
* {
    font-family: "Open Sans", sans-serif;
    color: #515151;
}

#main_navigation {
    background-color: #0078ff;
    border-radius: 0;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.5);
}


@media screen and (max-width: 785px) {
    #main_navigation {
        margin-bottom: 0;
    }
}

#main_navigation .navbar-toggle * {
    background-color: #fff;
}

#main_navigation.navbar a {
    color: #fff;
    background-color: #0078ff;
}

#main_navigation.navbar a:hover {
    background-color: #0066D8;
}

#main_navigation.navbar .active a {
    color: #fff;
    background-color: #0066D8;
}



/**
 * Table of contents
 */

#markdown-toc {
    border: 1px solid #515151;
    list-style-type: none;
    padding: 10px 20px;
    margin-top: 20px;
}

@media screen and (min-width: 786px) {
    #markdown-toc {
        display: block;
        float: right;
        margin: 10px 0 10px 20px;
    }
}

@media screen and (min-width: 992px) {
    #markdown-toc {
        margin-top: 30px;
    }
}

#markdown-toc ul {
    list-style-type: none;
    padding-left: 20px;
}

#markdown-toc > li > ul {
    counter-reset: toc2;
}
#markdown-toc > li > ul > li > a:before {
    counter-increment: toc2;
    content: counter(toc2) ". ";
}

#markdown-toc > li > ul > li > ul {
    counter-reset: toc3;
}
#markdown-toc > li > ul > li > ul > li > a:before {
    counter-increment: toc3;
    content: counter(toc2) "." counter(toc3) ". ";
}

#markdown-toc > li > ul > li > ul > li > ul {
    counter-reset: toc4;
}
#markdown-toc > li > ul > li > ul > li > ul > li > a:before {
    counter-increment: toc4;
    content: counter(toc2) "." counter(toc3) "." counter(toc4) ". ";
}

#markdown-toc > li > ul > li > ul > li > ul > li > ul {
    counter-reset: toc5;
}
#markdown-toc > li > ul > li > ul > li > ul > li > ul > li > a:before {
    counter-increment: toc5;
    content: counter(toc2) "." counter(toc3) "." counter(toc4) "." counter(toc5) ". ";
}

#markdown-toc > li > ul > li > ul > li > ul > li > ul > li > ul {
    counter-reset: toc6;
}
#markdown-toc > li > ul > li > ul > li > ul > li > ul > li > ul > li > a:before {
    counter-increment: toc6;
    content: counter(toc2) "." counter(toc3) "." counter(toc4) "." counter(toc5) "." counter(toc6) ". ";
}



/**
 * Header styling
 */

body {counter-reset: h2}
h2 {counter-reset: h3}
h3 {counter-reset: h4}
h4 {counter-reset: h5}
h5 {counter-reset: h6}
h2:before {counter-increment: h2; content: counter(h2) ". "}
h3:before {counter-increment: h3; content: counter(h2) "." counter(h3) ". "}
h4:before {counter-increment: h4; content: counter(h2) "." counter(h3) "." counter(h4) ". "}
h5:before {counter-increment: h5; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". "}
h6:before {counter-increment: h6; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) ". "}
h2.nocount:before, h3.nocount:before, h4.nocount:before, h5.nocount:before, h6.nocount:before {content: ""; counter-increment: none}


.container h2 {
    border-bottom: 2px solid #515151;
}

.container h3 {
    margin-top: 30px;
}

.container h3,
.container h4,
.container h5,
.container h6 {
    margin-top: 20px;
    border-bottom: 1px solid #515151;
    font-size: 20px;
}

.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6 {
    padding: 10px 0;
    overflow: hidden;
}

:target {
    background-color: #F7DC8A;
    color: #000;
    animation: target-fade 1.5s 1;
}

@keyframes target-fade {
    0% { background-color: #F7DC8A; }
    25% { background-color: #f8bb00; }
    50% { background-color: #F7DC8A; }
    75% { background-color: #f8bb00; }
    100% { background-color: #F7DC8A; }
}

.container .hljs {
    background-color: transparent;
}

.container pre {
    padding: 0 15px;
    background-color: #151F28;
    margin: 10px 0 20px 40px;
}

body {
    overflow-y: scroll;
    margin-bottom: 60px;
}

code * {
    font-family: "Droid Mono", monospace;
}

/* Responsive 'fork me on github' ribbon */

#forkongithub a {
    background: #8bc242;
    color: #fff;
    text-decoration: none;
    font-family: arial, sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 5px 40px;
    font-size: 1.5rem;
    line-height: 2rem;
    position: relative;
    transition: 0.5s;
}
#forkongithub a:hover {
    background: #7CAA3B;
    color: #fff;
}
#forkongithub a::before,
#forkongithub a::after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    top: 1px;
    left: 0;
    height: 1px;
    background: #fff;
}
#forkongithub a::after {
    bottom: 1px;
    top: auto;
}

@media screen and (max-width: 785px) {
    #forkongithub {
        display: block;
        margin: 15px 0 30px 0;
        text-align: center;
    }
}


@media screen and (min-width: 786px) {


    #main_navigation {
        margin-bottom: 0;
    }

    #forkongithub {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        width: 300px;
        overflow: hidden;
        height: 300px;
        z-index: 9999;
    }
    #forkongithub a {
        width: 300px;
        position: absolute;
        top: 60px;
        right: -80px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
    }
}
