<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <title>ConNeg by ptlis</title>

        <!--<link href='https://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>-->
        <!--<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,700italic,400italic' rel='stylesheet' type='text/css'>-->

        <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">

        <link rel="stylesheet" href="css/style.css">

        <link rel="stylesheet" href="lib/highlightjs/styles/rainbow.css">

        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>

        <nav class="navbar" role="navigation" id="main_navigation">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">

                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="index.html">ConNeg</a>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li{% if page.name == 'installation' %} class="active"{% endif %}><a href="installation.html">Installation</a></li>
                                <li{% if page.name == 'basics' %} class="active"{% endif %}><a href="basics.html">Basics</a></li>
                                <li{% if page.name == 'usage' %} class="active"{% endif %}><a href="usage.html">Usage</a></li>
                                <li{% if page.name == 'licence' %} class="active"{% endif %}><a href="licence.html">Licence</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
